# Numa Skin Hydrogen Storefront Environment Configuration
SESSION_SECRET="numaskin_secret_session_key_hydrogen_2026"
PUBLIC_STORE_DOMAIN="numaskin.myshopify.com"
PUBLIC_STOREFRONT_API_TOKEN=""
PUBLIC_STOREFRONT_ID=""
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=""
PUBLIC_CUSTOMER_ACCOUNT_API_URL="https://shopify.com/numaskin"
# If PUBLIC_STOREFRONT_API_TOKEN is empty, the storefront automatically operates in Mock / Dummy Catalog Engine mode!
